body {
	
	background-color: rgba(288, 77, 38, 0.10);
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 5px 5px grey;
	color: white;
	letter-spacing: 1px;
}

header {
	width: 100%;
	height: 40px;
}

nav {
	width:100%;
	height:50px;
	background-color:lightgrey;

}

.table {
	display: table;
	margin: 0 auto;
}


nav ul {
	margin:0px;
	padding:0px;
}

nav li {
	list-style-type: none;
	float:left;
    
}

nav a {
	display:inline-block;
	text-decoration:none;
	padding:10px 30px;
	color:navy;
}


.nav1, .nav2, .nav3 {
   	height: 45px;
   }

.nav1 {
   	background-color: rgba(288, 77, 38, 0.30);
   	border: 2px solid lightgrey;
   	border-bottom: 2px solid navy;
   	font-weight: bold;
}

.nav2 {
   	background-color: rgba(64, 200, 130, 0.30);
   	border: 2px solid lightgrey;
   	border-bottom: 2px solid navy;
   	font-weight: bold;
}

.nav3 {
   	background-color: rgba(241, 211, 79, 0.30);
   	border: 2px solid lightgrey;
   	border-bottom: 2px solid navy;
   	font-weight: bold;
}

/*li a:hover {
	margin-top: 10px;
	height: 10px;
	background-color: white;
	color: red;
	font-weight: bold;
	border-top: 2px solid lightgrey;
	text-transform: uppercase;
}*/
  

#left {
	float: left;
	box-shadow: 8px 6px 4px #333;
	width: 58%;
	height: 620px;
	margin-top: 10px;
}

#left img {
	width:100%;
	height: 500px;
}

#message {
	width: 100%;
	height: 300px;
}

#right {
	float: right;
	border:1px solid white;
	width:40%;
	height:600px;
	padding-top:10px;
	text-align:center;
	margin-top: 10px;
	box-shadow: -8px 8px 0px white;
	
}

#right img {
	width:100%;
	height: 180px;
}


.photoright {
	margin: 1%;
}

td {
	border: 1px solid red;
}


p {
	font-family: Tahoma;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: white;
}

span {
	color: red;
}

em {
	color: navy;
}


#footer {
	width:100%;
	clear: both;
	position: relative;
	background:url('image/fleur.jpg');
	height: 100px;
	bottom: -30px;
	color: black;
	text-align: center;
	padding-top:5px;
	font-size:20px;
	border:1px solid grey;
}

#info {
	background-color: #3c4543;
	height: 80px;
	margin-top:30px;
}

#info p {
	text-align: center;
	color: white;
	font-size:15px;
	padding-top:20px;
	font-family:verdana;
}

#info img {
	height:25px;
	width:3%;
	margin-top:20px;
	
	
}

h3 {
	width:50%;
	height:30px;
	background-color:aqua;
	margin-left:150px;
	padding-top:5px;
	font-size:24px;
	margin-top:50px;
}

#Mes_photos {
	background-color:white;
	height: 300px;
	width: 100%;
	padding-top:10px;
	background: url('image/pagne.jpg');
	text-align: center;
	border-bottom: 5px solid grey;
}

#Mes_photos img {
	width:35%;
	height: 280px;
	text-align: center;
	/*box-shadow: 5px 5px 5px pink;*/
}

/*#Mes_photos img:hover {
	width:100%;
	height: 225px;
	border: 5px solid pink;
}*/

#souv {
	width: 100%;
	height: 550px;
	padding-top:40px;
	padding-bottom:20px;
	border:2px solid white;
	background: url('image/mariage.jpg');
	text-align:center;
}

#photo {
	width: 100%;
	height: 332px;
	margin-top: 40px;
	border: 1px solid white;
	border-bottom: 2px solid navy;
}

#photo img {
	width:60%;
	height: 330px;
	/*border-radius:98%;*/
    box-shadow: 5px 0px 0px yellow;
}

#photo img:hover {
	width:60%;
	height:100px;
	box-shadow: 5px 0px 0px white;
	border-bottom: 5px solid navy;
	transition-duration: 3s;
}
 
/*video {
	width:80%;
	height: 500px;
}*/

p {
	text-align: center;
	font-family:impact;
}

#section1 {
	background-color: grey;
	height:530px;
	width:50%;
	float:left;
	padding:10px;
	
}

legend {
	font-weight: bold;
	font-size:18px;
	text-transform: uppercase;
}


#contact {
	width: 100%;
	height: 550px;
	text-align: center;
	padding-top:20px;
}

#contact img {
	width: 50%;
	height: 460px;
	border-radius:100%;
	box-shadow: 0px 8px 0px white;
    text-align: center;
}

#contact img:hover {
	width: 55%;
	height: 480px;
	border-radius:100%;
	box-shadow: 0px 8px 0px white;
    text-align: center;
}

.plan {
	width:100%;
	height: 300px;
}

.plan img{
	width:100%;
	height: 300px;
}


.radio {
	margin-top:25px;
	margin-left:650px;

}

#diaporama1 {
	padding-left:380px;
    padding-left:250px;
	padding-right:300px;
	padding-top:30px;
	padding-bottom:20px;
	border:2px solid grey;
	background-color:white;
}

.contacto {
	width: 100%;
	height: 90px;
	border-bottom: 10px solid #DFFFC9;
	background-color: rgba(255, 76, 76, 0.10);
	padding-top: 10px;
	margin-top: 23px;
	color: white;
	font-size: 20px;

}


/*.album {
	width:100%;
	height:40px;
	text-align: center;
    border: 1px solid white;
    opacity: 0.5;
    font-size: 25px;
    background: red;
}


.alb {
	width:100%;
	height: 500px;
	background-image: url('image/pagne.jpg');
	padding-top: 50px;
}


.diaporama {
	margin: 0 auto;
    width: 500px;
    height: 332px;
    border: 1px solid white;
    text-align: center;
    background-image: url('image/mariage0..jpg');
    border: 20px solid lightgrey;

    webkit-animation-name: diapo;
    webkit-animation-duration: 9s;
    webkit-animation-timing-function: linear;
    webkit-animation-iteration-count: infinite;
    webkit-animation-direction: normal;

    moz-animation-name: diapo;
    moz-animation-duration: 9s;
    moz-animation-timing-function: linear;
    moz-animation-iteration-count: infinite;
    moz-animation-direction: normal;

    animation-name: diapo;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}*/


@media screen and (max-width: 680px) {

	body {
       background-color: green;
       width: 100%;
       height: 1000px;
       margin: 0px;
	}

	nav a {
	   display:inline-block;
	   text-decoration:none;
	   padding:10px 10px;
	   color:navy;
    }

    h2 {
	   font-family: Verdana;
	   font-weight: bold;
	   text-align: center;
	   text-shadow: 0px 5px 5px grey;
	   color: white;
	   letter-spacing: 1px;
	   font-size:20px;
    }


	#left {
	float: none;
	box-shadow: 8px 6px 4px #333;
	width: 100%;
	height: 520px;
	margin-top: 10px;
    }

    #left img {
	width:100%;
	height: 400px;
    }

    #message {
	width: 100%;
	height: 100px;
    }
    
    /*partie ajoutée*/
    #message p {
    	font-size: 13px;
    }
     
    /*partie ajoutée*/
    #footer p {
    	font-size: 15px;
    	font-weight: bold;
    }

    #right {
	float: none;
	border:1px solid white;
	width: 100%;
	height:600px;
	padding-top:10px;
	text-align:center;
	margin-top: 10px;
	box-shadow: -8px 8px 0px white;
	
    }

    #right img {
	width:100%;
	height: 180px;
    }

    p {
    	font-size: 1em;
    }

    #Mes_photos {
	height: 200px;
	width: 100%;
	padding-top:5px;
	background: url('image/pagne.jpg');
    }

    #Mes_photos img {
	width:12%;
	height: 150px;
	text-align: center;
	box-shadow: 5px 5px 5px pink;
    }

    #Mes_photos img:hover {
	width:12%;
	height: 150px;
	text-align: center;
	box-shadow: none;
	border-bottom: none;
	border-left: none;
    }

    #photo img {
	width:60%;
	height: 330px;
	border-radius:98%;
    box-shadow: 5px 0px 0px yellow;
    }

    #photo {
	width: 100%;
	height: 332px;
	margin-top: 40px;
	border: 1px solid white;
	border-bottom: 2px solid navy;
	background: url('image/pagne.jpg');
    }

    #info {
	background-color: #3c4543;
	height: 190px;
	margin-top:30px;
    }
    
    #info img {
	height:70px;
	width:10%;
	margin-top:20px;
    }

    /*partie ajoutée*/
    #contact img:hover {
	width: 100%;
	height: 450px;
	border-radius:90%;
	box-shadow: 0px 8px 0px white;
    text-align: center;
    transition-duration: 10s;
    }

    .contacto {
	width: 100%;
	height: 100px;
	background-color: rgba(255, 76, 76, 0.50);
	padding-top: 10px;
	margin-top: 10px;
	color: white;
    }

    
}

@media screen and (min-width: 681px) and (max-width: 1200px) {
	body {
       background: url('image/pagne.jpg');
       width: 100%;
       height: 1000px;
       margin: 0px;
	}

	nav a {
	   display:inline-block;
	   text-decoration:none;
	   padding:10px 30px;
	   color:navy;
	   text-transform: uppercase;

    }

    h2 {
	   font-family: Verdana;
	   font-weight: bold;
	   text-align: center;
	   text-shadow: 0px 5px 5px yellow;
	   color: white;
	   letter-spacing: 1px;
	   font-size:26px;
	   margin-top: 5px;
    }

    header {
    	height:60px;
    }

    h2 {
	   font-family: Verdana;
	   font-weight: bold;
	   text-align: center;
	   text-shadow: 0px 5px 5px yellow;
	   color: white;
	   letter-spacing: 1px;
	   font-size:26px;
	   margin-top: 20px;
    }

    #message {
	   width: 100%;
	   height: 80px;
	   background-color: white;
	   padding-top:2px;
    }

    #message p {
       font-size:14px;

    }

    em {
	   color: navy;

    }

    td {
	   border: 1px solid white;
    }

    #photo {
	   width: 100%;
	   height: 332px;
	   margin-top: 40px;
	   border: 1px solid white;
	   border-bottom: 3px solid yellow;
    }

    #photo img {
	   width:30%;
	   height: 330px;
	   border-radius:80%;
       box-shadow: 5px 0px 0px yellow;
    }

    #photo img:hover {
	   width:35%;
	   height:320px;
	   box-shadow: 5px -5px 0px white;
	   border-bottom: 5px solid navy;
    }

    p {
    	font-size: 1em;

    }

    #info {
	    background-color: #3c4543;
	    height: 190px;
	    margin-top:30px;
    }

    #left img:hover {
	width:90%;
	height: 500px;
	transform: translateX(100px) rotate(5deg);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	transition-duration: 5s;
    }

     .contacto {
	width: 100%;
	height: 100px;
	background-color: rgba(255, 76, 76, 0.90);
	padding-top: 10px;
	margin-top: 10px;
	color: white;
    }


    #galerie {
			width: 750px;
			height: 500px;
			overflow: hidden;
			position: relative;
			border: 10px solid #fff;
            border-radius: 5px;
			box-shadow: 0 10px 25px rgba(0, 0, 0, 1);
		}
		#galerie img {
			width: 750px;
			height: 500px;
		}
		.container{
			width: 750px;
			height: 500px;
			margin: 0 auto;
			margin-top: 50vh; 
            transform: translateY(-50%);
		}
		.thumbnail  {
			width: 81px;
			height: 80px;
			border: 2px solid #fff;
			margin: 10px 5px 0 0;
			border-radius: 5px;
		}
		.thumbnail:hover {
			cursor: pointer;
		}
		.titre {
			height: 40px;
			width: 100%;
			font-size: 30px;
			color: #fff;
			background: #000;
			opacity: 0.5;
			position: absolute;
			bottom: 0px;
			padding-left: 10px;
		}
		.selected {
			border: 2px solid #C63333;
		}


}

@media screen and (min-width: 1201px) and (max-width: 1700px) {
	body {
       background-color: #b7d1c4;
       width: 100%;
       height: 1000px;
       margin: 0px;
	}

	#photo {
	width: 100%;
	height: 332px;
	margin-top: 40px;
	border: 1px solid white;
	border-bottom: 2px solid navy;
	background: url('image/pagne.jpg');
    }
    
}


@-webkit-keyframes diapo {
	0%{background-image: url('image/mariage0..jpg');}
	20%{background-image: url('image/mariage01..jpg');}
	40%{background-image: url('image/mariage02..jpg');}
	60%{background-image: url('image/mariage03..jpg');}
	80%{background-image: url('image/mariage04..jpg');}
	100%{background-image: url('image/mariage05..jpg');}
	
}

@-moz-keyframes diapo {
	0%{background-image: url('image/mariage0..jpg');}
	20%{background-image: url('image/mariage01..jpg');}
	40%{background-image: url('image/mariage02..jpg');}
	60%{background-image: url('image/mariage03..jpg');}
	80%{background-image: url('image/mariage04..jpg');}
	100%{background-image: url('image/mariage05..jpg');}

@keyframes diapo {
	0%{background-image: url('image/mariage0..jpg');}
	20%{background-image: url('image/mariage01..jpg');}
	40%{background-image: url('image/mariage02..jpg');}
	60%{background-image: url('image/mariage03..jpg');}
	80%{background-image: url('image/mariage04..jpg');}
	100%{background-image: url('image/mariage05..jpg');}
}
